.counter {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background: darkslategray;
    border-radius: 15px;
    width: 50%;
}

.description {
    border: solid 2px #fff;
    border-radius: 15px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.description p {
    padding: 10px;
}

.code {
    color: orange;
}

.descHead {
    background: #fff;
    color: #000;
    border-radius: 12px 12px 0 0;
}